@import url('./root.css');
@import url('./normalize.css');
@import url('./components/button.css');
@import url('./components/close.css');
@import url('./components/input.css');
@import url('./components/texts.css');
@import url('./components/switcher.css');
@import url('./components/slider.css');
@import url('./components/slider-card.css');
@import url('./components/more-card.css');
@import url('./layout/side-bar.css');
@import url('./layout/content.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--background-light);
}

.main {
  height: 100vh;
  display: flex;
  gap: 18px;
}