.more-card {
	border-radius: var(--radius);
	background: var(--white);
	box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px 25px 10px;

	min-height: 162px;
	height: 100%;
	min-width: 320px;
	width: 100%;
}

@media (width <= 970px) {
	.more-card {
		min-height: 179px;
	}
}

.more__weather-text {
	margin-bottom: 13px;
}

.more__item:nth-child(n + 3) .more__weather-text {
	margin-bottom: 24px;
}

.more-card__footer-text {
	display: inline-block;
  position: relative;

	padding: 11px 0 11px 63px;
	margin-top: 5px;
}

.more-card__footer-text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 38px;
  height: 38px;

  background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Wind indicator/light'%3E%3Ccircle id='Ellipse 41' cx='19' cy='19' r='19' fill='%2348484A'/%3E%3Cpath id='Vector 4' d='M18.1951 31.0029L10.0872 10.8978C9.76221 10.092 10.5487 9.28365 11.3631 9.58643L31.9073 17.2246C32.7267 17.5293 32.7906 18.6717 32.0237 19.0912C26.1915 22.2822 23.1612 25.3608 20.0501 31.0907C19.6388 31.8482 18.5175 31.8023 18.1951 31.0029Z' fill='%23E6E6E6'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: contain;

  transform: rotate(var(--deg));
}

@media (width <= 970px) {
	.more__item:nth-child(n + 3) .more-card {
		min-height: 160px;
	}
}

@media (width <= 827px) {
	.more__item:nth-child(3) .more-card {
		transform: translateY(-18px);
	}
	.more__item:nth-child(4) .more-card {
		transform: translateY(-36px);
	}
}
