.slider-card {
	position: relative;
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;

	border-radius: 8.362px;
	background: var(--white);
	box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);

	padding: 15px 0 10px;
}

.slider-card img {
	transform: translateY(-8px);
  width: 100px;
  height: auto;
}

.slider-card__text {
	color: var(--gray);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.slider-card__text_day {
	text-align: center;
}

.slider-card__text_hint {
	color: #d3d3d3;
}

.dark .slider-card__text_hint {
  color: #6D6D6D;
}

.slider-card__wrapper {
	display: flex;
	position: absolute;
	justify-content: space-between;
	padding: 0 15px;
	gap: 18px;
	bottom: 16px;
}
